<html>

<body>
    <table>
        <tr>
            <td><img src="/image_orig?{{rand}}" /></td>
            <td><img src="/image_c?{{rand}}" /></td>
            <td><img src="/image_acc?{{rand}}" /></td>
        </tr>
        <tr>
            <td>Original image</td>
            <td>Convolved using C</td>
            <td>Convolved using FPGA</td>
        </tr>
    </table>

    <hr />

    {{respnse_text}}

    <hr />

    <a href="/">back</a>
</body>

</html>
